@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://plus.unsplash.com/premium_photo-1750950155900-f1f3981d0eff?q=80&w=689&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}